[submodule "firmware/lib/MazeLib"]
	path = firmware/lib/MazeLib
	url = git@github.com:kerikun11/MazeLib.git
[submodule "firmware/lib/json11/json11"]
	path = firmware/lib/json11/json11
	url = https://github.com/dropbox/json11.git
[submodule "firmware/lib/ctrl"]
	path = firmware/lib/ctrl
	url = git@github.com:kerikun11/micromouse-control-module.git
